.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
}
.button, .specials {
    width: 65%;
}
.operators{
    align-items: right;
    width: 25%;
}

.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
}